.card-produto {
    --background: FloralWhite; /* Define a cor de fundo da página */
  }
  
  ion-card-title {
    font-size: 16px;
    font-weight: bold;
  }
  
  ion-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  

