<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="voltarParaHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Produtos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirFormulario()">Add Produto</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-produto">
  <ion-list>
    <ion-card class="card-produto" *ngFor="let produto of produtos" (click)="openDetalhesModal(produto)">
      <ion-card-content>
        <ion-grid fixed>
          <ion-row>
            <!-- Coluna da Imagem -->
            <ion-col size="3">
              <ion-thumbnail>
                <img [src]="produto.imageurl" alt="{{ produto.name }}" />
              </ion-thumbnail>
            </ion-col>

            <!-- Coluna do Nome e Preço -->
            <ion-col size="6">
              <ion-card-title>{{ produto.name }}</ion-card-title>
              <p>Quantidade: {{ produto.quantidade }}</p>
              <ion-card-subtitle>{{ produto.preco | currency:'BRL' }}</ion-card-subtitle>
            </ion-col>

            <!-- Coluna dos Botões -->
            <ion-col size="3" class="ion-text-end">
              <ion-button fill="clear" (click)="editarProduto(produto); $event.stopPropagation()">EDT</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>