<ion-header>
  <ion-toolbar>
    <ion-title>Relatórios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="gerarRelatorio()">Gerar Relatório</ion-button>

  <ion-list>
    <ion-item *ngFor="let relatorio of relatorios">
      <ion-label>
        <h2>{{ relatorio.titulo }}</h2>
        <p>{{ relatorio.descricao }}</p>
        <p>{{ relatorio.data | date }}</p>
      </ion-label>
      <ion-button fill="clear" (click)="visualizarRelatorio(relatorio)">Visualizar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
