ion-card {
  --background: floralwhite; /* Define a cor de fundo do card */
  border-radius: 10px; /* Suaviza os cantos */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
  margin: 15px; /* Espaçamento ao redor do card */
  padding: 20px; /* Espaçamento interno do card */
}

ion-card-header {
  text-align: center; /* Centraliza o texto no cabeçalho do card */
  font-weight: bold; /* Destaca o título */
  font-size: 1.25rem; /* Ajusta o tamanho da fonte */
}

ion-card-title {
  color: #333; /* Cor do texto do título */
}

ion-item {
  --padding-start: 0px;
  margin-bottom: 20px;
  position: relative; /* Mantém a posição relativa */
}

ion-label.floating {
  position: absolute;
  top: 20px;
  left: 0;
  color: #000; 
  transition: 0.3s ease;
}

ion-input.has-focus + ion-label.floating,
ion-input:not(:placeholder-shown) + ion-label.floating {
  top: -20px; 
  font-size: 0.75rem; 
  color: #3880ff; 
}

ion-button {
  margin-top: 20px; /* Espaçamento acima dos botões */
  border-radius: 5px; /* Suaviza os cantos dos botões */
  --background: #4CAF50; /* Cor verde para os botões */
  --background-hover: #45A049; /* Tom mais claro ao passar o mouse */
  --background-activated: #3E8E41; /* Tom mais escuro ao clicar */
  color: #fff; /* Cor do texto dos botões */
}

ion-select {
  --padding-start: 0px;
}

ion-input {
  --padding-start: 0px;
  --placeholder-color: #999; /* Cor do placeholder */
}
