<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="voltarParaHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="adicionarCategoria()">Categoria</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="adicionarProduto()">Produto</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-label>Selecionar Categoria</ion-label>
    <ion-select [(ngModel)]="categoriaSelecionada" (ionChange)="onCategoriaChange()">
      <ion-select-option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria.name }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card *ngIf="categoriaSelecionada">
    <ion-card-header>
      <ion-card-title>Categoria: {{ categoriaSelecionada.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Quantidade de Produtos: {{ produtosSelecionados.length }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Valor Total: {{ valorTotalCategoria | currency :'BRL' }}</ion-label>
      </ion-item>
      <!--
      <ion-item>
        <ion-label>Lucro: {{ lucro | currency :'BRL' }}</ion-label>
      </ion-item>
      -->
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="categoriaSelecionada">
    <ion-item *ngFor="let produto of produtosSelecionados">
      <ion-label>
        <div>
          <p><strong>{{ produto.name }}</strong></p>
          <p>Quantidade: {{ produto.quantidade }}</p>
          <p>Valor Unitário: {{ produto.preco | currency :'BRL' }}</p>
          <p>Valor Total: {{ (produto.preco * produto.quantidade) | currency :'BRL' }}</p>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
