<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="voltarParaHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>


<ion-select placeholder="Escolha um Estabelecimento" [(ngModel)]="estabelecimentoSelecionado">
  <ion-select-option *ngFor="let est of estabelecimentos" [value]="est">{{ est.name }}</ion-select-option>
</ion-select>

<ion-content>
  

  <ion-button expand="full" (click)="adicionarCategoria()">Categoria</ion-button>
  <ion-button expand="full" (click)="adicionarProduto()"> Produto</ion-button>
</ion-content>